<ion-header *ngIf="riegos">
  <ion-toolbar>
    <ion-title>Electrovalvula {{riegos[0].electrovalvulaId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="riegos">

  <ion-content>
    <ion-grid class="ion-text-center">
      <ion-row class="header-row">
        <ion-col>
          <ion-text>Fecha</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Estado</ion-text>
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let entrada of riegos" appResaltar>
        <ion-col>
          <ion-text>
            {{entrada.fecha}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{entrada.apertura | valvula}} 
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>
