<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="dispositivo && medicion">Dispositivo - {{dispositivo.nombre}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="dispositivo && medicion">
    <div>Acá deberia traer mas información del dispositivo y su medida del sensor</div>
    <div >
        {{dispositivo.ubicacion}} {{medicion.valor}}
        <div id="highcharts" style="width:100%; height:300px;"></div>
    </div>

    <ion-button expand="full" shape="round" (click)="togglearEstadoEV()">
        <p *ngIf="!estadoEv"> Abrir Electroválvula</p>
        <p *ngIf="estadoEv" > Cerrar Electroválvula</p>
    </ion-button>
    <ion-button expand="full" shape="round" routerLink="/medicion/{{dispositivo.dispositivoId}}">Historico de mediciones</ion-button>
    <ion-button expand="full" shape="round" routerLink="/logs-riegos/{{dispositivo.electrovalvulaId}}">Log de riegos</ion-button>

</ion-content>